*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;
    
}

a{
    text-decoration: none;
}

/* shared style */
.btn-primary{
    background-color: #4E47FF;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
}


.btn-primary:hover {
    background-color: #0056b3;      
    color: #FFFEFC;                 
    font-weight: 600;               
    transform: scale(1.05);   
    cursor: pointer;      
}

.w-1140{
    max-width: 1140px;
    margin: auto;
}

.font-primary{
    color: #4E47FF;;
}

.font-dark1{
    color: #000000;
}

.font-dark2{
    color: rgba(37, 36, 50, 1);
}

.font-dark3{
    color: rgba(37, 36, 50, 0.5);
}

/* header style */
header{
    background-image: url('../images/Hero-bg.png');
    background-size: auto 100%;
    overflow: hidden;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    padding: 50px 0;
}

.header-body{
    text-align: center;
    max-width: 910px;
    text-align: center;
    margin: 150px auto 160px auto;
}

.header-body h1{
    font-size: 65px;
    margin-bottom: 30px;
}

/* main section style */

main{
    background-color: #F5F8FF;
    overflow: hidden;
}

.preview-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px auto;
}

main h2{
    font-size: 42px;
}

.preview-section .column1, .preview-section .column2{
    max-width: 500px;
}

.preview-section img{
    max-width: 410px;
    border-radius: 45px;
}

.preview-section p{
    font-size: 24px;
    margin: 15px 0;
}

.statistics-section{
    margin: 0 auto;
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px;
    overflow: hidden;
}


.statistics-section .box{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    font-family: "Inter", sans-serif;
}

.value{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    
}

.variable{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5)
}

.statistics-section h2{
    font-size: 38px;
}

.review-section{
    margin: 135px auto;
}

.review-section h2{
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
}

.review-section h3{
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.comment-box p{
    opacity: 0.9;
}

.review-section h4{
    opacity: 0.7;
}

.name p{
    opacity: 0.6;
}


.review-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.review-box .box1{
    background-color: #FAFCFF;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.fa-solid.fa-star {
    color: #FFB805;
    font-size: 14px;
}

.info-box{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.info-box img{
    border-radius: 50%;
}

.optional-section{
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 14px;
    text-align: center;
    padding: 70px;
}

.optional-section h1{
    font-size: 50px;
}

.optional-section p{
    font-size: 20px;
    margin: 20px 0;
}

.optional-section img{
    display: block;
    
    border-radius: 48px;
    max-width: 840px;
    margin: auto;
    margin-top: 20px;
}
.contact-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    font-family: "Inter", sans-serif;
    margin-bottom: 70px;
    margin-top: 120px;
}

.contact-section h1{
    font-size: 90px;
}


.contact-section input{
    width: 500px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #dfd7d7;
    padding: 20px 30px;
    font-size: 20px;
}


.contact-section textarea{
    width: 500px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #dfd7d7;
    padding: 20px 30px;
    font-size: 20px;
}

form label{
    font-size: 18px;
    font-weight: 500;
}

/* footer style */

footer{
    background-color: #FFFFFF;
    text-align: center;
    font-family: "Inter", sans-serif;
    padding: 110px 0;
}

.footer-container{
    max-width: 600px;
    margin: auto;
}

footer h1{
    font-size: 100px;
    margin-bottom: 5px;
}

footer p{
    color: rgba(137, 135, 161, 1);
}

footer ul li a{
    color: rgba(137, 135, 161, 1);
}

footer ul li a:hover{
    color: rgb(99, 91, 184);;
}

footer ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-top: 20px;
}